{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>Tutor Me</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>
<header style="background-color: #F8E9D9; padding: 30px; text-align: center; border-radius: 15px">
  <div class="d-flex justify-content-center align-items-center">
    <div style="flex: 0 0 20%; text-align: left;">
      {% if tutor.profile_image %}
        <img src="{{ tutor.profile_image.url }}" alt="" class="img-fluid rounded-circle tutor-profile-image" style="max-width: 100%;">
      {% else %}
        <img src="{% static 'img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle tutor-profile-image" style="max-width: 100%;">
      {% endif %}
    </div>
    <div style="flex: 0 0 60%; text-align: center;">
      <h1>Tutor: {{ name }}</h1>
      <p><strong>Username:</strong> {{username}}</p>
      <p><strong>Tutor email:</strong> {{tutor.user.email}}</p>
      <p><strong>Year:</strong> {{tutor.year}}</p>
      <p><strong>Classes taken:</strong> {{user.classes}}</p>
      <p><strong>Hourly Rate:</strong> ${{tutor.hourly_rate}}</p>
      <br>
      <p>View and send a request for tutoring sessions from {{tutor.name}}</p>
    </div>
    <div style="flex: 0 0 20%;"></div>
  </div>
</header>
     {% if messages %}
     {% for message in messages %}
     {% if message.message == "You have already requested this session." %}
     <div class="alert alert-danger" style="text-align: center;">
         {{ message }}
         </div>
     {% endif %}
     {% endfor %}
     {% endif %}
     <p style="color: green; text-align: center"> {{ message }}</p>
 </div>
 <div class = "container" style = "padding-top: 1cm;">
  <h3>Tutoring Sessions</h3>
  {% for session in sessions %}
    <p><strong>Date:</strong> {{ session.date }}</p>
    <p><strong>Session Time:</strong> {{ session.start_time }} - {{ session.end_time }} </p>
     <p><form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
     {% if session.has_request %}
        {% if session.request_status == True %}
            <input type="submit" value="Accepted!" class="btn btn-success" disabled>
        {% elif session.request_status == False %}
            <input type="submit" value="Declined!" class="btn btn-danger" disabled>
        {% else %}
            <input type="hidden" name="session_id" value="{{ session.id }}">
            <input type="submit" value="Requested" class="btn btn-secondary"d>
        {% endif %}
    {% else %}
         <input type="hidden" name="session_id" value="{{ session.id }}">
        <input type="submit" value="Send Request" class="btn btn-primary">
    {% endif %}
        </form>
     </p>
     <hr>
     <br>
{% endfor %}
<br>
<br>
<a class="btn btn-secondary" href="/accounts/home/student/" role="button">Return to Home</a>
 </div>
  <br>
 <br>
</body>
</html>