{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tutor Me</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .container {
      border-radius: 10px;
      background-color: #F8E9D9;
      padding: 20px;
      margin: 20px;
    }
    .profile-container .profile-info {
      border-radius: 10px;
      background-color: #F8E9D9;
      color: #181717;
      margin: 20px;
    }
  </style>

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="#profile">{{ user.tutor.name|title }}</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#profile" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Profile</span></a></li>
          <li><a href="#add a session" class="nav-link scrollto"><i class="bx bx-calendar-plus"></i> <span>Add a Session</span></a></li>
          <li><a href="#requests" class="nav-link scrollto"><i class="bx bx-calendar-star"></i> <span>Requests</span></a></li>
          <li><a href="#schedule" class="nav-link scrollto"><i class="bx bx-calendar"></i> <span>Schedule</span></a></li>
          <li><a href="#add a class" class="nav-link scrollto"><i class="bx bx-list-plus"></i> <span>Edit Classes</span></a></li>
          <li><a href="/logout"><i class="bi bi-arrow-90deg-right"></i> <span>Logout</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Home Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <div class="text-center">
        <h1>Tutor Me</h1>
        <p><span class="typed" data-typed-items="Welcome {{ user.username }}, You are logged in as a tutor"></span></p>
      </div>
    </div>
  </section><!-- End Home -->

  <main id="main">

    <!-- ======= Profile Section ======= -->
    <section id="profile" class="profile">
      <div class="container">

        <div class="section-title">
          <h2>Profile</h2>
          <p>This is your tutor profile that is public to students</p>
        </div>

        <div class="row">
          <div class="text-center">
            <p><strong>Username:</strong> {{ user.username }}</p>
              <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Name:</strong> {{ name }}</p>
            <p><strong>Year:</strong> {{ year }}</p>
            <p><strong>Hourly Rate:</strong> ${{ hourly_rate }}</p>
            <p class="profile-info"><strong>Classes:</strong> {{ user.classes }} </p>
            <a class="btn btn-primary" href="/accounts/home/tutor/profile" role="button">Edit Profile</a> <a class="btn btn-secondary" href="#add a class" role="button">Edit Classes</a>
        </div>

      </div>
    </section><!-- End Profile Section -->

    <!-- ======= Add a Session Section ======= -->
    <section id="add a session" class="add a session">
      <div class="container">

        <div class="section-title">
          <h2>Add a Session</h2>
          <p>Create a new tutoring session</p>
        </div>
        <a class="btn btn-primary" href="/accounts/home/tutor/createsession" role="button">Add a Session</a>
        <br>
        <br>
          <h3 class="text-center" style="color: #093768;">All your created tutoring sessions</h3>
      {% for session in sessions %}
        <p><strong>Date: </strong>{{ session.date }}</p>
        <p><strong>Session time: </strong>{{ session.start_time }} - {{ session.end_time }} </p>
        <hr>
      {% endfor %}
      </div>
    </section><!-- Add a Session Section -->

    <!-- ======= Requests Section ======= -->
    <section id="requests" class="requests">
      <div class="container">

        <div class="section-title">
          <h2>Requests</h2>
          <p>View pending requests from students</p>
        </div>
        <a class="btn btn-primary" href="/accounts/home/tutor/requests" role="button">View Requests</a>
  </div>

    </section><!-- End Requests Section -->

    <!-- ======= Resume Section ======= -->
    <section id="schedule" class="schedule">
      <div class="container">

        <div class="section-title">
          <h2>Schedule</h2>
          <p>View scheduled tutoring sessions</p>
        </div>
        <a class="btn btn-primary" href="/accounts/home/tutor/schedule" role="button">View Schedule</a>
      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section (Add class) ======= -->
    <section id="add a class" class="add a class">
      <div class="container">

        <div class="section-title">
          <h2>Edit Classes</h2>
          <p>Add a class you have already taken at UVA</p>
        </div>
        <p><strong>Current Classes in Profile: </strong>{{user.classes}}</p>
        <a class="btn btn-secondary" href="/accounts/home/addclass" role="button">Add a Class</a> <a class="btn btn-danger" href="/accounts/home/delete-class" role="button">Delete a Class</a>
      </div>
    </section><!-- End Portfolio Section (Add class) -->


  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>