<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tutor Me</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .container {
        border-radius: 10px;
        background-color: #edf2ff;
        padding: 20px;
        margin: 20px;
      }
      .profile-container .profile-info {
        border-radius: 10px;
        background-color: #edf2ff;
        color: #181717;
        margin: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Tutor Me</h1>

    <p>Welcome {{ user.username }}, you are logged in as a tutor.</p>


    <div class="container profile-container">
      <h3 class="text-center" style="color: #093768;">Profile</h3>
      <div class="profile-info">
        <div class="text-center">
        <p>Username: {{ user.username }}</p>
          <p>Email: {{ user.email }}</p>
        <p>Name: {{ name }}</p>
        <p>Year: {{ year }}</p>
        <p>Hourly Rate: ${{ hourly_rate }}</p>
        <p class="profile-info">Classes: {{ user.classes }}</p>
        <a class="btn btn-primary" href="/accounts/home/tutor/profile" role="button">Edit Profile</a>
      </div>
      </div>                    
    </div>


    <div class="container">
      <h3 class="text-center" style="color: #093768;">Tutoring Sessions</h3>
      {% for session in sessions %}
        <p>Date: {{ session.date }}</p>
        <p>Start Time: {{ session.start_time }}</p>
        <p>End Time: {{ session.end_time }}</p>
        <hr>
      {% endfor %}
      <br>
      <div style="display:flex; justify-content: center;">
        <a class="btn btn-primary" href="/accounts/home/tutor/createsession" role="button">Add a Session</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary" href="/accounts/home/tutor/requests" role="button">View Requests</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary" href="/accounts/home/tutor/schedule" role="button">View Schedule</a>
      </div>
  </div>
    <div class="container">
      <h3 class="text-center" style="color: #093768;">Add a Class</h3>
      <div class="text-center">
        <a class="btn btn-primary" href="/accounts/home/addclass" role="button">Add a Class</a>
      </div>
    </div>

    <br>

    <div class="container">
      <div class="text-center">
        <a class="btn btn-secondary" href="/logout" role="button">Logout</a>
      </div>
    </div>

  </body>
</html>