<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class = "container" style = "padding-top: 2cm;">
    <h3>Pending</h3>
  {% for request in requests %}
    <p>Student ID: {{request.student.user.username}}</p>
    <p>Name: {{request.student.name}}</p>
    <p>Date: {{request.session.date }}</p>
    <p>Start Time: {{ request.session.time_start }}</p>
    <p>End Time: {{ request.session.time_end }}</p>
  -----------------------------------------------------------------------------------------------
    <br>
{% endfor %}
  </div>
<div class = "container" style = "padding-top: 2cm;">
  <a class="btn btn-primary" href=/accounts/home/tutor  role="button">return to home</button>  </a>
</div>
</body>
</html>