{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>Tutor Me</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>
<div class = "container" style = "padding-top: 2cm;">
    <h3>Pending</h3>
  {{ message }}
  <br>
  {% for tutoring_request in tutoring_requests %}
    <h1>{{tutoring_request.session.date }}</h1>
    <p><strong>Username: </strong>{{tutoring_request.student.user.username}}</p>
    <p><strong>Student Email: </strong>{{tutoring_request.student.user.email}}</p>
    <p><strong>Student Name: </strong>{{tutoring_request.student.name}}</p>
    <p><strong>Year: </strong>{{tutoring_request.student.year}}</p>
    <p><strong>Classes: </strong>{{tutoring_request.student.user.classes}}</p>
    <p><strong>Session Time:</strong> {{ tutoring_request.session.start_time }} - {{ tutoring_request.session.end_time }} </p>
    <p><form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
     <input type="hidden" name="tutoring_request_id" value="{{ tutoring_request.id }}">
     <input type="submit" name="accept" value="Accept Request" class="btn btn-primary">
     <input type="submit" name="reject" value="Reject Request" class="btn btn-danger">
     <hr>
     </form>
    </p>
    <br>
    <br>
{% endfor %}
  </div>
<div class = "container" style = "padding-top: 2cm;">
  <a class="btn btn-secondary" href=/accounts/home/tutor  role="button">Return to Home</button>  </a>
</div>
</body>
</html>