<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
 <div class="container" style="padding-top: 2cm;">
    <h3>Edit Profile</h3>
  </div>
  <form action="{% url 'tutor_profile' %}" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ profile_form.as_p }}
        <input type="submit" value="Submit">
    </form>

 {% block content %}
    </br>
    <p><strong>{{ message }}</strong></p>
{% endblock %}

 <a class="btn btn-primary" href="/accounts/home/tutor" role="button">Return to home</a>

</body>
</html>