
<h3>Search a class.</h3>

<form action="" method="post" novalidate>
    {% csrf_token %} 
    {{ form.as_p }}
    <input type="submit" value = "Submit">
</form>

{% block content %} 
    </br>
    <p><strong>{{ department }}</strong> <strong>{{ catalog_number }}</strong> {{ message }}</p>
{% endblock %}

<div class = "container" style = "padding-top: 2cm;">
    <h3>Return to home</h3>
    {% if user.is_student %}
        <a class="btn btn-primary" href= '/accounts/home/student/' role="button">return to home</button>
    {% else %} 
        <a class="btn btn-primary" href= '/accounts/home/tutor/' role="button">return to home</button>
    {% endif %}

</div>