{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tutor Me</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <header style="background-color: #F8E9D9; padding: 30px; text-align: center; border-radius: 15px">
      <h1>Find a Tutor</h1>
      <p>Search for a class from UVA to find a tutor that has already taken the course</p>
  </header>
  <br>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
      <form action="" method="post" novalidate>
          {% csrf_token %} 
          {{ form.as_p }}
          <div class="text-center my-4">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>

      <div class="mt-4 text-center">
        {% block content %}
        <div class = "container" style = "padding-top: 2cm;">
            <h3><strong>{{ message }}</strong></h3>
            {% for user in tutorList %}
                <p><strong>Name:</strong> {{ user.tutor.name}}</p>
                <p><strong>Year:</strong> {{ user.tutor.year }}</p>
                <p><strong>Classes Taken:</strong> {{ user.tutor.user.classes }}</p>
                <p><strong>Hourly Rate:</strong> $ {{ user.tutor.hourly_rate }}</p>
                <p><a class="btn btn-primary" href=/accounts/home/student/{{user.tutor.user.username}} role="button">Schedule Session</a></p>
                <hr>
                <br>
                </br>
            {% endfor %}
        </div>
        {% endblock %}
      </div>
     
      <div class="mt-4 text-center">
        {% if user.is_student %}
          <a class="btn btn-secondary" href="/accounts/home/student/" role="button">Return to home</a>
        {% else %}
          <a class="btn btn-secondary" href="/accounts/home/tutor/" role="button">Return to home</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</body>