<html>
<body>
<h1>Tutor Me </h1>
<p>Choose an option</p>
<a class="btn btn-primary" href=http://127.0.0.1:8000/accounts/home role="button">I already have an account</button>
<!-- <a class="btn btn-primary" href=https://tutor-me-uva-ed.herokuapp.com/accounts/home role="button">I already have an account</button> -->

</br>

<a class="btn btn-primary" href=http://127.0.0.1:8000/accounts/signup role="button">Create an Account</button>
<!-- <a class="btn btn-primary" href=https://tutor-me-uva-ed.herokuapp.com/accounts/signup role="button">Create an Account</button> -->


</body>
</html>